.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* alert */
.msg {
  width:100%;
  border: 1px solid;
  padding:10px;
  margin: 10px 0 10px 0;
  color: grey;
}
.msg-error {
  border-color: #d32f2f;
  background-color: #ef5350;
  color: white;
}
.msg-warning {
   border-color: #ef6c00;
  background-color: #ff9800;
  color: white;
}

.msg-info{
  border-color: #0288d1;
  background-color: #29b6f6;
  color: white;
}
.msg-success{
  border-color: #69f0ae;
  background-color: #00c853;
  color: white;
}
.checkbox-span{
  margin-left: 12px;
}
.mt-5{
  margin-top: 15px;
}
.ml-5{
  margin-left: 15px;
}
.font-bold{
  font-weight: bold;
}
.container{
  margin-top: 10px !important;
}
.inline{
  display: inline-block;
  position: fixed;
}
.inp-icon-check{
  background: url("/icon/check.png")no-repeat 100%;
  background-size: 16px;
}
.inp-icon-wrong{
  background: url("/icon/wrong-emo.svg")no-repeat 100%;
  background-size: 16px;
}
#submit-orange:disabled{
  background-color: #dd2c00  !important;
  color: wheat !important;
  cursor: not-allowed !important;
  opacity: 0.65;
}
table.highlight>tbody>tr:hover {
  background-color: rgba(194, 206, 23, 0.5) !important;
}
